# Pycharm IDE settings
/.idea/

# LaTeX output files
/out/
/latex_report/*
!/latex_report/*.tex

# Python virtual environment
/venv/
/.venv/

# Cached files
__pycache__/

# Package and docs build results
dist/
build/
